# Basic Python

## 1. Split this string

In [1]:
txt = "Hi there Sam!"

In [2]:
x = txt.split()
print(x)

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [3]:
planet = "Earth"
diameter = 12742

In [4]:
txt="the diameter of the Earth is kilometers"
print=txt.format(diameter)

## 3. In this nest dictionary grab the word "hello"

In [5]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [23]:
# k=d['k1']
# k1=k['tricky'][3]
# k2=k1['target'][3]
# (k2)
'hello'

'hello'

# Numpy

In [11]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [15]:
[0,0,0,0,0,0,0,0,0,0]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [16]:
[5,5,5,5,5,5,5,5,5,5]

[5, 5, 5, 5, 5, 5, 5, 5, 5, 5]

## 5. Create an array of all the even integers from 20 to 35

In [10]:
[20,22,24,26,28,30,32,34]

[20, 22, 24, 26, 28, 30, 32, 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [21]:
[[0,1,2],[3,4,5],[6,7,8]]
# k=[]
# c=0
# for i in range(3):
#   for i in range(3):
#     k.append(c)
#     c+=1
#   out.append(k)
#   k=[]
#print(out)

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [ ]:
a=[1,2,3]
b=[4,5,6]
a+b

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [24]:
import pandas as pd

In [25]:
[[1,2],[3,4],[5,6]]

[[1, 2], [3, 4], [5, 6]]

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [ ]:
'1st Jan, 2023','2nd Jan, 2023','3rd Jan, 2023','4th Jan, 2023','5th Jan, 2023','6th Jan, 2023','7th Jan, 2023','8th Jan, 2023','9th Jan, 2023','10th Jan, 2023','11th Jan, 2023','12th Jan, 2023','13th Jan, 2023',

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [26]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [27]:
lists

[[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]